/*importation du font*/
@import url(./fonts.css);
/* variable css*/
@import url(./partials/_variables.css);
/*global variable css*/
@import url(./partials/_global.css);
/*-----------debut navigateur-----------------------*/
.header_area .main.menu .navbar .navbar-brand{
    padding: 0 1rem 0 2rem; 
}
.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}
.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem;
    color: var(--text-color);
}
.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*-----------fin navigateur-------------------------*/

/*-------------debut banner--------------------------*/
.site-main .site-banner{
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
     
}
.site-main .site-banner .site-title{
    padding-left: 10rem;
}
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 3rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.4rem;
}
.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
   
}
/*-------------fin banner----------------------------*/
/*-------------About area----------------------------*/
.site-main .about-area{
    padding: 8rem 5rem;
}
.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;


}
.site-main .about-area .about-title .paragraphe > p{
    padding: .4rem 0;
}
/*--------------fin about-----------------------------*/
/*----------------brand area--------------------------*/
.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}
.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}
.site-main .brand-area .exparience-area{
    padding-left: 1rem;
}
.site-main .brand-area .exparience-area span{
    display: block;
}
.site-main .brand-area .exparience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}
.site-main .brand-area .exparience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #eD29290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}
.site-main .brand-area .exparience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: -1;
}
.site-main .brand-area .exparience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}
.site-main .brand-area .exparience-area .call-area{
    padding-left: .10rem;
}
/*-----------------fin brand area---------------------*/

/*-----------------services area----------------------*/
.site-main .services-area{
    padding: 7rem 2rem;
}
.site-main .services-area .services-title{
    padding: 0 14rem;
}
.site-main .services-area .services-title h1{
    font-size: 35px;
}
.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}
.site-main .services-area .services:hover{
    box-shadow: var(--box-shadow);
}
/*-----------------end services area-----------------*/

/*-----------------project area----------------------*/
.site-main .project-area{
    padding: 4rem 0;
}
.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}
.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}
.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}
.site-main .project-area .grid .our-project .img a:hover img{
    filter:brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
/*----------------- fin project area-------------------*/

/*----------------about me----------------------------*/
.site-main .about-area .about-title p{
    padding: 1rem 7rem;
}
.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}
.site-main .about-area .client .client-img{
    padding: 2rem;
}
.site-main .about-area .client .about-client{
    padding-top: 2rem;
}
.site-main .about-area .client .about-client h4{
    font: normal 500 21px/20px var(--roboto);
}
.site-main .about-area .client .about-client p{
    font-size: 14px;
}
.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}
.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
}

/*----------------end about me------------------------*/

/*----------------subscribe me-------------------------*/
.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}
.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/30px var(--roboto);
    color: whitesmoke;
}
.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}
.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding:  1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}
.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}
.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/*--------------End subscribe me-------------------------*/


/*-------------footer area------------------------------*/
footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}
footer.footer-area .social{
    font: normal 500 23px/30px var(--roboto);
}
footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}
footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}
